@font-face {
	font-family: 'Anton';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('Anton-Regular.ttf') format('truetype');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.5; }
    to { opacity: 1.0; }
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

html {
	font-family: 'Anton', Fallback, sans-serif;
}

#keybanner {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
	padding: 10px;
	opacity: .9;
	user-select: none;
	border-bottom: solid 1px black;
	animation: rainbow 30s ease infinite;
	background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
	background-size: 3000% 3000%;
}

#keybanner > span {
	color: white;
	display: inline-block;
	font-size: 1.5em;
	animation:fade 1000ms infinite;
}

#votemenu {
	user-select: none;
	background-color: grey;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
	width: 60%;
	height: 60%;
	display: none;
	padding: 50px;
	grid-gap: 30px;
	grid-template-rows: 40px auto auto 60px;
	grid-template-columns: 1fr 1fr 1fr;
}

#votemenu-title {
	grid-column-start: 1;
	grid-column-end: 3;
	text-transform: uppercase;
	color: white;
	font-size: 30px;
	font-weight: bold;
}
#votemenu-counter {
	grid-column: 3;
	text-transform: uppercase;
	color: white;
	font-size: 30px;
	font-weight: bold;
	text-align: right;
}
#votemenu-vote1 {
	grid-column: 1;
}
#votemenu-vote2 {
	grid-column: 2;
}
#votemenu-vote3 {
	grid-column: 3;
}
#votemenu-vote4 {
	grid-column: 1;
}
#votemenu-vote5 {
	grid-column: 2;
}
#votemenu-vote6 {
	grid-column: 3;
}
#votemenu-footer {
	grid-column-start: 1;
	grid-column-end: 4;
}

.votemenu-vote {
	background-color: lightgrey;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	cursor: pointer;
	border: 2px solid darkgrey;
}

.votemenu-vote:hover, .votemenu-vote.active {
	border: 2px solid gold;
}

#vote-buttons {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
}

.vote-button {
	cursor: pointer;
	color: white;
	font-size: 17px;
	text-transform: uppercase;
	display: inline-block;
	background-color: rgba(151, 146, 117, .5);
	padding: 15px 60px;
	border: 1px solid rgb(214, 214, 214);
}

.vote-button:hover, .vote-button.active {
	border: 1px solid gold;
	background-color: grey;
	color: gold;
}

.voteitem-counter {
	float: right;
	padding: 5px 10px;
	background-color: rgba(0, 255, 0, 0.733);
}

.voteitem-footer {
	position: relative;
	top: 100%;
	transform: translateY(-100%);
	height: fit-content;
	background-color: rgba(128, 128, 128, 0.322);
	width: 100%;
	padding: 10px;
}

.voteitem-footer1 {
	text-transform: uppercase;
	font-style: italic;
	color: lightgrey;
}

.voteitem-footer2 {
	color: white;
	text-transform: uppercase;
	font-weight: bold;
}